div.pbbar {
	float: left;
	width: 48%;
	border: 1px dotted gray;
	margin-right: 1em;
	padding: 0;
}

div.pbbar span {
	float: left;
	padding: 0.5em 1em;
	text-align: center;
}

div.pbbar span.bar {
	padding: 0.5em 0em;
	background: #d2f5b0;
}

td.pbcolumn {
	padding: 4px;
	vertical-align: top;
        height: 10em;
}

td.pbcolumn hr {
	clear: both;
	border: 0;
	border-bottom: 1px dotted #aaa;
	height: 6px;
}

div.pbblock {
        overflow: auto;
        width: 100%;
	width: 230px;
	margin: 4px;

	background: #FAF3AA;
	border: 1px solid black;

	text-align: center;
	overflow: hidden;
}

div.pbblock p {
	margin: 3px;
}

div.pbblock p.bugid {
	float: left;
	color: blue;
}

div.pbblock p.commits {
	float: right;
	color: black;
}

div.pbblock p.category {
	font-weight: bold;
}

div.pbblock p.summary {
	clear: both;
	width: 100%;
	height: 5em;
	border-top: 1px solid #e7df8a;
	border-bottom: 1px solid #e7df8a;
	padding-top: 3px;
	text-align: left;
	overflow: hidden;
}

div.pbblock span.project {
	font-weight: bold;
}

div.pbblock p.priority {
	float: left;
	vertical-align: top;
}

div.pbblock p.severity {
	float: left;
	width: 1.2em;
	height: 1.2em;
}

div.pbblock p.resolution {
	float: right;
	width: 1.2em;
	height: 1.2em;
}

div.pbblock p.handler {
	padding-top: 3px;
}

